<footer class="site-footer">
  <p>Paranoia Urbana &mdash; Zine Digital e Impresso &mdash; Iniciativa Samamba Thrash!</p>
  <p>
    <a href="https://www.instagram.com/paranoiaurbana/" target="_blank" rel="noopener">Instagram</a>
    &middot;
    <a href="mailto:jarbas.spires@gmail.com">jarbas.spires@gmail.com</a>
  </p>
</footer>
